/*
* General Styles
*/
	* {
		margin: 0;
		padding: 0;
	}
	body {
		padding: 70px 50px 0;

		font-family: helvetica;
		font-size: 22px;

		color: seashell;
		background-color: black;
	}
	h2 {
		line-height: 50px;
	}
	h4 {
		line-height: 40px;
	}

/*
* Header
*/
	header {
		border-bottom: 1px solid seashell;
		padding: 0 10px;
		height: 69px;
		line-height: 69px;
		background-color: black;
		opacity: 0.9;

		/* Flex */
		display: inline-flex;
		justify-content: space-between;
		align-items: center;

		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
		#logo {
			height: 50px;
		}
		header nav a {
			margin-left: 15px;
			color: seashell;

			/* Flex */
			display: inline-block;
		}

/*
* Mission
*/
	#mission {
		margin: 0 auto;
		width: 1200px;
		height: 700px;
		background: transparent url('../images/mission-background.jpg') center no-repeat;

		/* Flex */
		display: flex;
		align-items: center;
	}
		#mission > div {
			text-align: center;
			color: seashell;
			background-color: black;

			/* Flex */
			flex-grow: 1;
		}

/*
* Tea of Month
*/
	#teaofmonth {
		margin: 0 auto;
		padding: 70px 0;
		width: 1000px;
		text-align: center;
	}
		.teas {
			margin: 0 auto;
			width: 1000px;

			/* Flex */
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
			.teas > div {
				padding: 25px 15px 0;
				text-align: center;
			}
				.teas > div img {
					padding-bottom: 10px;
					width: 300px;
					height: 200px;
					display: block;
				}

/*
* Locations
*/
	#locations {
		margin: 0 auto;
		height: 500px;
		background: transparent url("../images/locations-background.jpg") center -65px no-repeat;
		text-align: center;
	}

		#locations > h2 {
			padding-top: 75px;
			line-height: unset;
			/* I don't know what line-height means */
		}

		.locations {
			/* Flex */
			display: flex;
			justify-content: center;
			align-items: center;
		}
			.locations > div {
				margin: 15px 20px;
				width: 300px;
				background-color: black;

				/* Flex */
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.locations h3,
			.locations p {
				line-height: 55px;
				font-size: 18px;
				text-align: center;
				color: seashell;
			}

/*
* Contact
*/
	.contact {
		margin: 0 auto;
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

/*
* Footer
*/
	footer {
		margin: 20px auto;
		font-size: 12px;
		width: 1200px;
		height: 30px;
	}
